body{
    margin: 0 auto;
    width: 800px;
    padding: 0;
    background: #6e0427 url('../images/body_bg.gif') repeat-x top;
    font-family: Helvetica, sans-serif;
    font-size: 62.5%;
    color: #333;
}

h1,h2,p,ul,li{
    color: #000;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

