header {
    background-color: rgb(3, 3, 40);
    color: white;
    width: 100%;
    font-weight: bold;
    position: fixed; 
    top: 0;

}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 210, 87);
    text-decoration: none;
    font-size: large;
}

footer {
    background-color: rgb(3, 3, 40);
    color: white;
    width: 100%;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
}

#bg-pic {
    position: relative;
    z-index: -1;
}

/* #big-title {
    position: absolute;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    top: 50%;
    left: 30%;
} */

#logo {
    padding-left: 20px;
    height: 50px;
}

/* 在寬 >=1100px 時讓 collapse 預設展開，並隱藏 toggler */
@media (min-width: 1100px) {
  .navbar .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar .navbar-collapse .navbar-nav {
    flex-direction: row;
  }
  .navbar .navbar-toggler {
    display: none !important;
  }
}

/* 在寬 <1100px 時使用 bootstrap 預設的 collapse（漢堡出現） */
/* 可微調 link 顏色/間距 */
.navbar .nav-link {
  color: #fff;
  padding: .5rem 1rem;
}
.navbar .nav-link:hover {
  color: #ffd08a;
}
#logo {
  max-height: 48px;
}

/* intro css */
/* 固定圖片大小，不隨視窗縮放 */
.col-4 img {
    width: 500px !important;  /* 改成你想要的固定寬度 */
    height: auto;
    object-fit: cover;
}

/* 或更精確地針對該圖片 */
img[alt="米山舞"] {
    width: 300px !important;
    height: auto;
    object-fit: contain;
}