header {
    background-color: rgb(3, 3, 40);
    color: white;
    width: 100%;
    font-weight: bold;
    position: fixed; 
    top: 0;

}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 210, 87);
    text-decoration: none;
    font-size: large;
}

footer {
    background-color: rgb(3, 3, 40);
    color: white;
    width: 100%;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
}

#big-title {
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
}

#logo {
    padding-left: 20px;
    height: 50px;
}

#nav-bar{

}