header {
    background-color: rgb(3, 3, 40);
    color: white;
    font-weight: bold;
    /* position: fixed; 1203增加 */

}

footer {
    background-color: rgb(3, 3, 40);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    /* position: fixed; 變短了 */
}

#big-title {
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
}

#logo {
    padding-left: 20px;
    height: 50px;
}

#nav-bar{

}